@import 'tailwindcss';

@theme {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply font-secondary bg-gray-100 text-sm md:text-base lg:text-lg text-gray-700;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary text-gray-900;
  }
  h1 {
    @apply font-bold text-5xl lg:text-6xl;
  }
  h2 {
    @apply font-semibold text-4xl lg:text-5xl;
  }
  h3 {
    @apply font-semibold text-2xl lg:text-3xl;
  }
  h4 {
    @apply font-semibold text-xl lg:text-2xl;
  }
  h5 {
    @apply font-medium text-lg lg:text-xl;
  }
  h6 {
    @apply font-medium text-base lg:text-lg;
  }
}

@layer components {
  /* These classes are being used in more than one place. Be careful! */
  .btn {
    @apply flex items-center justify-center px-4 py-2 rounded-md
      transition-all duration-150
      focus:outline-none focus:ring-2 focus:ring-neutral-400/60 focus:ring-offset-2
      disabled:opacity-50 disabled:cursor-not-allowed
      hover:shadow-md cursor-pointer active:scale-[0.97];
  }
  .link {
    @apply hover:opacity-50 transition-all duration-150 hover:underline underline-offset-6 text-black inline-flex;
  }
  .active-link {
    @apply underline underline-offset-6;
  }
  .btn-primary {
    @apply bg-neutral-900 text-white hover:bg-neutral-800;
  }
  .btn-secondary {
    @apply bg-neutral-200 text-neutral-900 hover:bg-neutral-300;
  }
  .btn-ghost {
    @apply bg-transparent text-neutral-900 hover:bg-neutral-200/50;
  }
  .input {
    @apply w-full px-2 py-1 border rounded-md transition focus:outline-none focus:ring-2 focus:ring-offset-1;
  }
  .input-base {
    @apply border-gray-300 focus:ring-neutral-400 bg-white;
  }
  .input-error {
    @apply border-red-500 focus:ring-red-300 bg-red-50;
  }
}
